{% extends 'todo/layouts/base.html' %}
{% load static i18n %}
{% block title %}TODO | Completed TODO's{% endblock %}
{% block content %}
    {% include 'todo/clear.html' %}
    <style>
    #all:hover{
        background-color: white;
    }
    </style>

    <div class="row">
    {% if not todos %}
        <div class="col-md-12">
<h1 class="" style="text-align: center">^^ {% trans 'Complated Todos' %} ^^</h1>
    </div>
        {% else %}
        <div class="col-md-10">
<h1 class="" style="text-align: center">^^ {% trans 'Complated Todos' %} ^^</h1>
    </div>
<div class="col-md-2">
    <button onclick="add_hidden_input_for_COM()" id="clear_todo_done" style="min-width: 130px" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal_clear">
                    {% trans 'Clear' %}
    </button>

</div>

        {% endif %}

</div>
    <br>
    <hr class="my-4">
{% if not todos %}
    <div style="background-color: #ffe8a1;height: 300px">
    <p style="text-align: center;font-size: 30px"> {% trans "OoooH  Unfortunately, you didn't complete any of the TODO's" %}
<br>{% trans 'You are a very lazy person' %}
        <br> {% trans 'And this is the kind of people I like' %}
<br> {% trans "Unless you wanna exhaust yourself to finish the TODO's that you set" %}
<br> <br> <a href="{% url 'todo_not_done' %}" class="btn btn-warning" style="font-size: 20px">{% trans "Your Unfinish TODO's" %}</a>
    </p>
    </div>
{% else %}
    {% for todo in todos %}
<div id="all" {% if todo.is_important %} class="alert alert-danger" {% else %}class="alert alert-secondary"{% endif %} role="alert">
<div class="row">

    <div class="col-md-11"><a style="text-decoration: none;color: black;" href="{% url 'show_todo' todo.id %}"> <p style="padding-top: 5px">{{todo.title}}</p></a></div>
    <div style="padding: 5px" class="col-md-1"><a href="{% url 'delete_todo' todo.id %}" class="btn btn-danger">{% trans 'Del' %}</a> </div>
</div>

</div>
    {% endfor %}
{% endif %}


{% endblock %}
{% block js %}
    <script>
        function add_hidden_input_for_COM() {
            document.getElementById('is_com').innerHTML += ' <input hidden name="COM" type="text"> ';
        }

    </script>
{% endblock %}


{% comment %}
<button type="button" style="font-size: 15px;max-width:60px;max-height: 38px;margin-top: 6px" class="col-md-1 btn btn-danger " data-toggle="modal" data-target="#exampleModal_delete_todo">
                    {% trans 'Del' %}
    </button>{% endcomment %}
