{% extends 'todo/layouts/base-todo.html' %}
{% load static %}
{% block content %}

    <h1>complated todos : </h1>
    {% for message in messages %}
        <div class="alert alert-warning" role="alert">
             {{ message }}
        </div>
    {% endfor %}
    {% for todo in todos %}
        <a href="{% url 'show_todo' todo.id  %}" >
            <p {% if todo.is_important %} style="color: red" {% endif %}>

                {{ todo.title }}
            </p>
        </a>
    {% endfor %}
    <form method="post" action="{% url 'clear_todo' %}" style="display: inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger">Clear</button>
        <input type="checkbox" checked name="COM" hidden>
    </form>

{% endblock %}